body {
  /* background-image: url("https://i.ytimg.com/vi/eA5gcmDGJms/maxresdefault.jpg"); */
  background-image: url("https://img.freepik.com/free-photo/light-leak-effect-black-wallpaper_53876-95989.jpg");
  background-size: cover;
  overflow-y: hidden;
}

/* App.css */

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(8px);
  }

  .nameText {
    color: #F2F4FE;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 30px;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: auto;
    padding: 20px;
    justify-content: center; 
    align-items: center; 
  }
  
  /* Your card component styles */
  